---
import Layout from "../layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";

type Props = {
	post: CollectionEntry<"blog">;
};

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => {
		return {
			params: {
				id: post.id,
			},
			props: {
				post,
			},
		};
	});
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout
	title={post.data.title}
	description={post.data.description}
>
	<main>
		<article
			class="prose lg:prose-xl prose-neutral dark:prose-invert target:prose-headings:bg-neutral-200 dark:target:prose-headings:bg-neutral-800"
		>
			<h1>{post.data.title}</h1>
			<time
				class="text-sm"
				datetime={post.data.published_date.toLocaleDateString()}
			>
				{
					post.data.published_date.toLocaleDateString("en-US", {
						day: "numeric",
						month: "long",
						year: "numeric",
					})
				}
			</time>
			<Content />
		</article>
	</main>
</Layout>
