---
import Layout from "../layouts/Layout.astro";
import PostListItem from "../components/PostListItem.astro";
import { format } from "../util/dates";
import { getCollection } from "astro:content";

const posts = await getCollection("blog", (post) => !post.data.draft).then(
	(posts) => {
		posts.sort((a, b) => {
			return b.data.published_date.getTime() - a.data.published_date.getTime();
		});
		return posts;
	},
);
---

<Layout title="josh's blog" description="a list of josh's blog posts">
	<main>
		<ul
			class="prose prose-neutral dark:prose-invert lg:prose-xl prose-h2:mb-0.5"
		>
			{
				posts.map(({ data, id }) => {
					return (
						<PostListItem
							description={data.description}
							href={`/${id}`}
							time={format(data.published_date)}
							title={data.title}
						/>
					);
				})
			}
		</ul>
	</main>
</Layout>
