---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog", (post) => {
	return !post.data.is_draft;
}).then((posts) => {
	return posts.sort((a, b) => {
		return b.data.published_date.getTime() - a.data.published_date.getTime();
	});
});
---

<Layout
	title="josh's blog"
	description="a list of josh's blog posts"
>
	<ul>
		{
			posts.map(({ data, id }) => {
				return (
					<li>
						<h2>
							<a href={id}>{data.title}</a>
						</h2>
						<p>{data.description}</p>
					</li>
				);
			})
		}
	</ul>
</Layout>
