---
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
	title: string;
	published_at: Date;
}>;

const { frontmatter } = Astro.props;
---

<article
	class="prose prose-neutral dark:prose-invert md:prose-xl target:prose-headings:bg-neutral-200 dark:target:prose-headings:bg-neutral-800 prose-h1:mb-4"
>
	<h1>{frontmatter.title}</h1>
	<slot />
</article>
