---
import Base from '../layouts/Base.astro';

export interface Props {
	content: {
		pubDate: string;
		description: string;
		title: string;
	};
}

const {
	content: { pubDate, description, title },
} = Astro.props;
---

<Base title={title} description={description}>
	<article
		class="container prose prose-rose prose-quoteless mb-32 px-4 pt-4 lg:prose-xl"
	>
		<h1>{title}</h1>
		{
			pubDate && (
				<time>
					{new Date(pubDate).toLocaleDateString('en-us', {
						timeZone: 'UTC',
					})}
				</time>
			)
		}
		<slot />
	</article>
</Base>
